<header class="container-fluid">
  <div class="row">
      <div class="nav-left col-lg-9">
          <a class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </a>
            <a class="brand">
                <img src="./../../../assets/brand.svg" alt="">
              </a>
      
              <ul class="nav-collapse">
                  <li>Catogaries</li>
                  <li>New</li>
                  <li>Hot</li>
                  <li>Sale</li>
                  <li>Custom</li>
                  <li>FAq</li>
              </ul>
              
        </div>
  </div>
 
  
</header>